region  = "eu-south-2"
profile = "default"
client_public_ssh_keys = [
    "ssh-ed25519 AC456xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Marcos",
    "ssh-ed25519 AH967xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Antonio"
]
github_token = "ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
my_ips = [
    "xxx.xxx.xxx.xxx/32",
    "yyy.yyyy.yyy.yyy/32"
]